*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 198, 229);
}
.calculator{
    background-color: #e3e6e9db;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 68px);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #74837ed1;
    box-shadow: inset -5px -5px 12px #495353,
                inset  5px  5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 8px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    pointer-events: none;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 8px #fffefe,
                    5px 5px 8px rgba(0, 0, 0, 0.16);
    border : none;
    border-radius: 12px;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
}
.clearBtn{
    
    background: linear-gradient(145deg, rgb(244, 67, 67), rgb(70, 0, 0));
    color: rgb(255, 255, 255);
    box-shadow: -5px -5px 8px #ffffff,
                    5px 5px 8px rgba(0, 0, 0, 0.16);
}
button:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.equal{
    width: 115px;
    border-radius: 12px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 8px #ffffff,
                5px 5px 8px rgba(0, 0, 0, .16);
}
p{
    text-align: center;
    margin-top: 70px;
}
